html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: #151515;
  font-weight: 300;
  font-size: 1rem;
  z-index: 0;
}
html {
  scroll-behavior: smooth;
  overflow: overlay;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #707070;
}
body {
  /* background: url(img/IMG_3869.jpeg) no-repeat center center initial; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background: url(img/IMG_3869.jpeg) no-repeat center center;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  /* background: url(img/IMG_3869.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
#inverse {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(img/coogi4.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#greeting {
  position: absolute;
  margin: 0 5%;
  top: 200px;
  font-weight: 300;
  font-size: 10vw;
  color: white;
  mix-blend-mode: difference;
  /* background-color: white; */
}
h1 {
  font-weight: 500;
  font-size: 4rem;
}
h2 {
  font-weight: 300;
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
  font-weight: 300;
}
.logo h1 {
  text-align: center;
}
#icons {
  display: none;
  width: 36px;
  height: 36px;
}
span {
  font-size: 1.5rem;
}
#Home {
  width: 1px;
  height: 1px;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4rem;
  z-index: 2;
  width: 100%;
  top: 0;
  height: 10%;
}
nav * {
  color: white;
}

.scroll {
  color: white;
}
.invert {
  filter: invert(1);
}
li {
  display: inline-block;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  font-weight: 300;
  font-size: 1.25rem;
}
p {
  font-size: 1.25rem;
}
.page {
  height: 100vh;
  width: 100%;
}
.page.one {
  height: 120vh;
}
.page.two {
  z-index: 1;
}
.page.three {
  background-color: rgba(177, 208, 255, 0.822);
  backdrop-filter: blur(10px);
  height: 100vh;
}
.page.four {
  background-color: rgba(193, 255, 239, 0.726);
  backdrop-filter: blur(10px);
}
#container-two {
  background-color: rgba(0, 0, 0, 0.76);
  backdrop-filter: blur(10px);
  height: 90vh;
}
#Projects * {
  color: white;
}

.spacer {
  min-height: 4rem;
  height: 10vh;
  width: 100%;
  backdrop-filter: none;
}
.spacer.three {
  margin-top: -10vh;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
}
#project-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 80vh;
  width: 90vw;
  /* gap: 2rem; */
  overflow-y: scroll;
}
#project-grid > div {
  background-color: rgba(53, 0, 0, 0.822);
  backdrop-filter: blur(10px);
  padding-bottom: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
#project-grid > div h2 {
  text-align: center;
  margin: 1rem;
}
#project-grid p {
  margin: 1rem 3rem;
  line-height: 2rem;
}
#project-grid p > a {
  text-decoration: underline;
}
#project-grid p > a:hover {
  color: slategray;
}
.project-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.project-links a {
  background-color: gray;
  border-radius: 2px;
  padding: 0.75rem;
  margin: 0 0.5rem;
}
.project-links a:hover {
  background-color: rgb(129, 146, 163);
}
#project-grid img {
  width: 100%;
  padding: 0 5%;
  -webkit-filter: brightness(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#project-grid img:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.spacer.two {
  background-color: rgba(0, 0, 0, 0.76);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
}
#gh-link {
  height: 8vh;
  -webkit-filter: brightness(100%);
}
#gh-link img {
  height: 100%;
  margin: 0.75rem 0;
  margin-right: 1.25rem;
}
#gh-link:hover {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.text-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  margin: 0 5vw;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  /* overflow-x: hidden; */
}
.text-block * {
  color: Black;
}
.text-block p {
  margin: 2rem 2rem 1rem 2rem;
  line-height: 2rem;
}
.text-block ul {
  list-style-type: circle;
}
.text-block li {
  display: list-item;
  margin-left: 3.5rem;
}
.text-block > div h3 {
  margin: 2rem 2rem;
}
#carousel {
  width: 45vw;
  margin: 0 auto;
}
.item > h4 {
  text-align: center;
}
#hobbies-list > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.text-block.two {
  background-color: rgba(0, 0, 0, 0.9);
}
.text-block.two * {
  color: white;
  line-height: 2.5rem;
}
.text-block.two a {
  text-decoration: underline;
  font-size: 1.5rem;
}
.text-block.two a:hover {
  color: aquamarine;
}
#contact-info {
  margin: 2rem 2rem 1rem 2rem;
}
#about-me-gh-link {
  color: lightsteelblue;
  text-decoration: underline;
}
#about-me-gh-link:hover {
  color: rgb(60, 130, 223);
  text-decoration: underline;
}
#demo {
  display: none;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: #151515;
}
footer div {
  padding: 1rem;
}
footer * {
  color: white;
}
@media only screen and (max-width: 1440px) {
  #hobbies-list > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 1280px) {
  .logo h1 {
    font-size: 2.5rem;
  }
  #icons {
    display: inline;
  }
  #nav-links {
    display: none;
  }
  #project-grid {
    grid-template-columns: 1fr;
  }
  .text-block {
    grid-template-columns: 1fr;
  }
  #carousel {
    width: 80vw;
  }
  #hobbies-list > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .logo h1 {
    font-size: 1.5rem;
  }
  #icons {
    display: inline;
  }
  #nav-links {
    display: none;
  }
  #icons {
    width: 24px;
    height: 24px;
  }
  #hobbies-list > ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 640px) {
  .logo h1 {
    font-size: 1rem;
  }
  #icons {
    display: inline;
  }
  #nav-links {
    display: none;
  }
  #hobbies-list > ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}
